{% extends 'base.html.twig' %}

{% block title %}Splotify{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center py-5">
        <div class="row">
            <div class="col-12">
                <h2 class="fs-5 border-3 border-bottom border-info-subtle">Pàgina principal</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid d-flex justify-content-center">
        <div class="row">
            <div class="col-12">
                <ol>
                    {% for album in albums %}
                        <p><strong>Titol:</strong> {{ album.title }}</p><br>
                        <p><strong>Portada:</strong> <img src="{{ album.cover }}" alt="Portada del àlbum"></p><br>
                        <p><strong>Nº de cançons:</strong> {{ album.songs|length }}</p><br>
                        <button class="btn btn-primary mb-3"><a href="{{ path('album_details', {'id': album.id}) }}" class="link-underline link-underline-opacity-0 text-white">Detalls</a></button>
                        {% if album not in app.user.likes %}
                            <form action="{{ path('like_album', {'id': album.id}) }}" method="post">
                                <button type="submit" class="btn btn-success me-2 mb-3 text-white">Like</button>
                                <p class="mb-3"><strong>Likes: </strong> {{ album.users | length }}</p>
                            </form>
                        {% endif %}
                        <p class="border-3 border-bottom border-info-subtle mb-5"></p>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
{% endblock %}
