{% extends 'base.html.twig' %}

{% block title %}Bandes{% endblock %}

{% block body %}
    <h1>Llista de bandes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Biografia</th>
                <th>accions</th>
            </tr>
        </thead>
        <tbody>
        {% for band in bands %}
            <tr>
                <td>{{ band.id }}</td>
                <td>{{ band.name }}</td>
                <td>{{ band.bio }}</td>
                <td>
                    <a href="{{ path('app_band_show', {'id': band.id}) }}">Mostrar</a>
                    <a href="{{ path('app_band_edit', {'id': band.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No s'ha res</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_band_new') }}">Crear banda nova</a>
{% endblock %}
