{% extends 'base.html.twig' %}

{% block title %}Cançons{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center py-5">
        <div class="row">
            <div class="col-12">
                <h2 class="fs-5 border-3 border-bottom border-info-subtle">Llista de cançons</h2>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <button class="btn btn-warning mb-5"><a href="{{ path('app_song_new') }}"
                                                class="link-underline link-underline-opacity-0 text-white">Afegir
                cançò</a></button>
    </div>

    <div class="d-flex justify-content-center mb-5">
        <form method="get" role="search" class="d-flex">
            <input type="search" class="form-control" name="q"
                   aria-label="Search" placeholder="Bucar títol...">
            <button type="submit" class="btn btn-outline-dark">Buscar</button>
        </form>
    </div>

    <!--<div class="d-flex justify-content-center mb-3">
        <select name="album" id="album" class="form-select w-25" aria-label="Default select example">
            <option selected>Sel·lecciona una cançò</option>
            {% for album in albums %}
                <option value="{{ album.id }}">{{ album.title }}</option>
            {% endfor %}
        </select>
    </div>-->

    <div class="container d-flex justify-content-center text-center">
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr class="table-success border border-dark-subtle">
                        <th>Id</th>
                        <th>Titol</th>
                        <th>Duració</th>
                        <th>Accions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for song in songs %}
                        <tr>
                            <td>{{ song.id }}</td>
                            <td>{{ song.title }}</td>
                            <td>{{ song.duration }}</td>
                            <td class="d-flex">
                                <button class="btn btn-success ms-5 me-2"><a class="link-underline link-underline-opacity-0" href="{{ path('app_song_show', {'id': song.id}) }}"><i class="bi bi-eye text-white"></i></a></button>
                                <button class="btn btn-primary me-2"><a class="link-underline link-underline-opacity-0" href="{{ path('app_song_edit', {'id': song.id}) }}"><i class="bi bi-pencil-square text-white"></i></a></button>
                                {{ include('song/_delete_form.html.twig') }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="navigation d-flex justify-content-center py-5">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
