{% extends 'base.html.twig' %}

{% block title %}Cançons{% endblock %}

{% block body %}
    <h1>Llista de cançons</h1>

    <div>
        <form method="get" role="search" class="d-flex">
            <input type="search" class="form-control w-25" name="q"
                   aria-label="Search">
            <button type="submit" class="btn btn-outline-dark">Search</button>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titol</th>
                <th>Duració</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
        {% for song in songs %}
            <tr>
                <td>{{ song.id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.duration }}</td>
                <td>
                    <!--<a href="{{ path('app_song_show', {'id': song.id}) }}">show</a>
                    <a href="{{ path('app_song_edit', {'id': song.id}) }}">edit</a>-->
                    {{ include('song/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!--<a href="{{ path('app_song_new') }}">Create new</a>-->

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
