<nav class="navbar navbar-expand-lg bg-primary-subtle shadow">
    <div class="container-fluid">
        <h1 class="fs-3 text-info-emphasis">Splotify</h1>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}"  href="{{ path('app_home') }}">Pàgina principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_album_index' ? 'active' : '' }}" href="{{ path('app_album_index') }}">Àlbums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_song_index' ? 'active' : '' }}" href="{{ path('app_song_index') }}">Cançons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.attributes.get('_route') == 'app_band_index' ? 'active' : '' }}" href="{{ path('app_band_index') }}">Bandes</a>
                </li>
            </ul>
        </div>
        {% if app.user %}
            <div class="d-flex align-items-center">
                <div class="text-primary"><i class="bi bi-person me-1"></i>{{ app.user.username }}</div>
                <a class="link-dark ms-3" href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    </div>
</nav>
